{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Menu</h1>
<!--Begin col-->
<div class="column">
    <!-- Step 14: Create for loop -->
    {% if menu.menu %}
        {% for item in menu.menu %}
            <p>
                <!-- Step 14: Add DTL variable for name -->
                <a href= "{% url 'menu_item' pk=item.pk %}">
                    {{ item.name }}
                </a>

                <span class="menu-price">${{ item.price }}.00</span>
                <!-- Step 14: Add DTL variable for price -->
                  
                </span>
        </p>
        {% endfor %}
        <!-- Step 14: End or loop -->
    {% else %}
    <p>No menu items available.</p>
    {% endif %}
</div>
<!--End col-->
{% endblock %}